.card img{
    width: 200px;
    height: 200px;
    margin-bottom: 25px;
    margin-left: 40px;
}
.card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    margin: 30px;
    padding: 20px;
    border: none;
}