<header>
     <div class="navbar navbar-dark bg-light shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
        <i style="font: size 22px;color:black;margin: top 8px;"  class="fas fa-shipping-fast"></i>
        <strong style="color: black;font-size:25px;" routerLink="/products">E Shopping Mall</strong>
     </div>

     <button class="btn btn-light">
        <i style="font-size: 30px;" routerLink="/cart" class="fas fa-cart-plus"></i>
        <div style="font: size 10px;" class="badge bg-dark">{{totalItem}}</div>
     </button>
    </div>
</header>